<!DOCTYPE html>
<html>
<head>
  <title>Stock Alerts</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <div class="background">
    <div class="container">
      <h1>Stock Alerts</h1>
      <div class="button-container">
        <a href="/createuser" class="button">Add Subscribers</a>
        <a href="/broadcastinput" class="button">Broadcast message</a>
        <div class="container3">
          <a class="github" href="https://github.com/SuprSend-NotificationAPI"  target="_blank"></a>
          <a class="suprsend" href="https://www.suprsend.com"  target="_blank"></a>
        </div>  
      </div>
      </div>
    </div>
  </div>
</body>
</html>

